@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body{
    background: rgb(228, 228, 230);
}

.navbar{
    display: inline-flex;
    background: rgb(21, 18, 37);
    padding: 10px 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}
#table{
    margin-top: 130px;
}
.navbar a{
    font-family: 'Rubik One', sans-serif;
    font-size: 20px;
    text-transform: uppercase;  
    background: linear-gradient(45deg, #978f8f 33%, #c11111 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin-right: 20px;
}
.navbar input{
    font-size: 20px;
    width: 20%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    outline: none;
    font-family: inherit;
}

.btn {
    position: fixed;
    top: 50px;
    left: 10px;
}
.btnp{
    background: rgb(142, 142, 143);
    padding: 15px 20px;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: inherit;
    font-size: 30px;
    margin-right: 15px;
}

.btnup{
    background: rgb(142, 142, 143);
    padding: 15px 20px;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: inherit;
    font-size: 30px;
    margin-right: 15px;

}

.btndn{
    background: rgb(142, 142, 143);
    padding: 15px 20px;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: inherit;
    font-size: 30px;
}
.table{
    width: 100%;
}
.table td{
    padding: 10px 15px;
}
.table tr:hover{
    background-color: #a4b4ce;
}
